<div class="clear"></div>
<div class="forabg block" style="vertical-align:top; width:{BLOCK_SIZE};">
<div class="inner">
	<dl>
		<dt class="row1" style="text-align:left;">
		<table width="100%" cellpadding="3" cellspacing="1" class="forumline" style="border-top:none;">
		  <tr>
			<td align="center" class="row1">
			<span class="gen">&nbsp;<a href="{U_PASEARCH}" class="gen">{L_SEARCH}</a>&nbsp;
			<!-- BEGIN ADD_LINK -->
			&bull;&nbsp;<a href="{U_UPLOAD}" class="gen"><b>{L_UPLOAD}</b></a>&nbsp;
			<!-- END ADD_LINK -->
			<!-- BEGIN MCP -->
			&bull;&nbsp;<a href="{U_MCP}" class="gen"><b>{L_MCP}</b></a>&nbsp;
			<!-- END MCP -->
			</span><br />
			<span class="genmed">
			&nbsp;<a href="{U_VIEW_ALL}" class="gensmall">{L_VIEW_ALL}</a>&nbsp;
			&bull;&nbsp;<a href="{U_DESCEND_BY_HITS}" class="gensmall">{L_STATS_MOST_POPULAR}</a>&nbsp;
			<!-- BEGIN switch_toprated -->
			&bull;&nbsp;<a href="{U_DESCEND_BY_RATINGS}" class="gensmall">{L_STATS_TOPRATED}</a>&nbsp;
			<!-- END switch_toprated -->
			&bull;&nbsp;<a href="{U_DESCEND_BY_JOIN}" class="gensmall">{L_STATS_LATEST}</a>&nbsp;
			</span>
			<br /><hr>
			</td>
		  </tr>
		</table>
		</dt>
	</dl>		
	<div class="blockbody bg2" style="display:block;">
	<dl>
		<dt class="row1" style="vertical-align:top;">
	